<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>User Form</h1>
    <h2><%=data.id%></h2>
<h2><%=data.from%></h2>
<h2><%=data.to%></h2>
<h2><%=data.message%></h2>
<h2><%=data.created_at%></h2>
</body>
</html>